@import "header"
@import "summary"
@import "works"
@import "footer"
body
  font-size: 16pt
  h2
    padding: 50px 0
    font-size: 42pt
  .grey
    margin: 20px
    *
      margin: 5px
      opacity: 0.5
  section
    height: 80vh
