.works
  height: 55vh
  display: grid
  grid-template-columns: 3fr 2fr
  grid-auto-flow: column
  align-items: center
  justify-items: center
  h2
    text-transform: uppercase
  .task
    >*
      margin: 50px
      input
        width: 100%
      p
        margin-bottom: 15px

  .btn
    padding: 5px
    text-align: end
  .result
    display: grid
    align-items: center
    height: 100%
    width: 100%
    background-image: url("../res/header.png")
    color: white
    >*
      margin-left: 5em



